@import "tailwindcss";

:root {
    /* Brand Colors */
    --color-primary: #e63946; /* Warm red - accent/highlight */
    --color-secondary: #f4a261; /* Peach - warm buttons/badges */
    --color-accent-1: #2a9d8f; /* Minty green - freshness hint */
    --color-accent-2: #e9c46a; /* Buttery yellow - subtle accent */

    /* System Colors */
    --color-success: #2ecc71;
    --color-error: #e74c3c;
    --color-warning: #f39c12;
    --color-info: #3498db;

    /* Neutrals & Defaults */
    --color-background: #ffffff;
    --color-foreground: #121212;
    --color-muted: #6b7280;
    --color-border: #d1d5db;
    --color-hover: #f9fafb;

    --color-text-on-primary: #fdf6ee;

}

[data-theme="light"] {
    --color-background: #faf5e4;
    --color-foreground: #333333;

    --color-muted: #6b7280;
    --color-border: #e0e0e0;
    --color-hover: #f0ece2;
}

[data-theme="dark"] {
    --color-background: #2b2b28;
    --color-foreground: #fdf6ee;
    --color-muted: #b8b8b8;
    --color-border: #4e4e4e;
    --color-hover: #3a3a36;
}


@theme {
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-accent1: var(--color-accent-1);
    --color-accent2: var(--color-accent-2);
    --color-background: var(--color-background);
    --color-foreground: var(--color-foreground);
    --color-text-on-primary: var(--color-text-on-primary);
}

html {
    transition: background-color .5s ease-in;
}

body {
    transition: color 0.3s ease-in;
    font-family: "Poppins", sans-serif;
    font-size: 1rem; /* 1 rem = 16px tailwind.*/
}
